{% extends "base.html" %}
{% block content %}
{% if user %}
 Добро пожаловать {{ user.nickname }}    <a href="{{logouturl}}"> выйти</a>
<br>
 <a href="/showMyResults"> Посмотреть историю своих ответов</a>
{% else %}
 <a href="{{loginurl}}">войти</a>
{% endif %}
<p>
Форма ответа на вопрросы 10 Шага .

</p>
 <form action="/saveResults" method="post" >
     {% include "submit.html" %}
 {% for question in questions %}
 <br>
     {% ifequal question.type 'bool' %}
<FIELDSET>
  <LEGEND>{{ question.text }}</LEGEND>

  <INPUT name="{{question.key}}"
         type="radio"
         value="Yes" >Да
  <INPUT name="{{question.key}}"
         type="radio"
         value="No" >Нет


 </FIELDSET>
     {% else %}
       <FIELDSET>
  <LEGEND>{{ question.text }}</LEGEND>

      <textarea name = "{{question.key}}" COLS=40 ROWS=6 ></TEXTAREA>
 </FIELDSET>
     {% endifequal %}
 {% endfor %}

{% include "submit.html" %}
</form>
{% endblock %}
